$min-width-phone: 0;
$max-width-phone: 480px;
$min-width-tablet: $max-width-phone;
$max-width-tablet: 768px;
$min-width-small-screen: $max-width-tablet;
$max-width-small-screen: 1024px;
$min-width-big-screen: $max-width-small-screen;
$max-width-big-screen: 1200px;
$min-width-television: $max-width-big-screen;

@mixin for-phone-up() {
  @media (min-width: $min-width-phone) {
    @content; }
}

@mixin for-tablets-up() {
  @media (min-width: $min-width-tablet) {
    @content; }
}

@mixin for-small-screens-up() {
  @media (min-width: $min-width-small-screen) {
    @content; }
}

@mixin for-big-screens-up() {
  @media (min-width: $min-width-big-screen) {
    @content; }
}

@mixin for-television-up() {
  @media (min-width: $min-width-television) {
    @content; }
}
