.app-shell {
  @include fade-in;

  .breadcrumb-and-content-wrapper {
    padding: 0 $spacing-L;

    .breadcrumb-wrapper {
      margin: $spacing-SM 0;

      .ant-breadcrumb-link {
        cursor: pointer;
      }
    }

    .main-content-wrapper {
      background: $white;
      min-height: $main-content-wrapper-height;
      margin: 0 auto;
      max-width: 750px;

      @include for-phone-up {
        padding: $spacing-XS;
      }

      @include for-tablets-up {
        padding: $spacing-MD;
      }

      @include for-small-screens-up {
        padding: $spacing-L;
      }
    }
  }
}
